<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="laurcode.com.retire">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Application-wide config. Due to the demo purposes of this app the following constraints are applied:
         1. No cloud backup
         2. No RTL - only English is used
         3. No Google App Indexing - it's not going to be released
     -->
    <application
        android:allowBackup="false"
        android:name="laurcode.com.retire.main.MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup, android:supportsRtl"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- MainActivity contains the stream of freshest photos -->

        <!-- Splash activity is shown when the app is launched -->
        <activity
            android:name=".startup.SplashActivity"
            android:theme="@style/SplashActivityTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Fabric API key metadata -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b5603d69afa768e1a9d3602d95ff0106b83ed7cd" />
    </application>

</manifest>